/* Add these styles to your existing CSS file */

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    height: 100vh;
    overflow: hidden;
    direction: rtl;
}

#map {
    flex: 1;
}

#sidebar {
    width: 350px;
    margin-top: 60px;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    overflow-y: auto;
    flex-shrink: 0;
    font-size: 12px;
    text-align: right;
    color: #333333;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: transform 0.3s ease, height 0.3s ease;
}

.drag-handle {
    width: 50px;
    height: 10px;
    background-color: #ccc;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
    text-align: center;
}


#region-button {
    position: absolute;
    top: 20px;
    left: 50%;
    z-index: 3;
    background-color: #CFA37A;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;
    transform: translateX(-50%);
    cursor: pointer;
}

.popup {
    display: none;
    /* Start hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Dark semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.popup-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 60%;
    max-width: 400px;
    /* Limit maximum width */
    text-align: center;
    position: relative;
}

.popup-title {
    font-size: 18px;
    margin-bottom: 20px;
    color: #333;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
}

.close-button:hover {
    color: #ff0000;
    /* Red color on hover */
}

#popup-search-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 18px;
    box-sizing: border-box;
    /* Account for padding in width */
    transition: border-color 0.3s ease;
}

#popup-search-input:focus {
    border-color: #CFA37A;
    /* Accent color on focus */
    outline: none;
    /* Remove default outline */
}

/* Styling for the search button */
#popup-search-button {
    background-color: #CFA37A;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

#popup-search-button:hover {
    background-color: #a87c50;
    /* Darker accent color on hover */
}

.region-option {
    width: 100%;
    /* Full width */
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    background-color: #CFA37A;
    /* Light background */
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    text-align: center;
}

.region-option:hover {
    background-color: #ffffff;
    /* Hover effect */
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.region-option {
    display: block;
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    font-size: 16px;
    background-color: #f4f4f9;
    /* Light background */
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    color: #333;
    text-align: center;
}

.region-option:hover {
    background-color: #e0e0e0;
    /* Hover effect */
}

.drag-handle img {
    width: 0px;
}

.close-button {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    color: #333333;
}

.close-button:hover {
    color: #ff000000;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button {
    padding: 10px;
    font-size: 12px;
    font-family: 'Open Sans Bold';
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.button img {
    width: 18px;
    height: 18px;
}

.btn-primary {
    background-color: #198754;
    font-family: 'Open Sans Bold';
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 5px;
    display: none;
    /* Initially hidden */
    width: 25%;
    text-align: center;
    margin-top: 10px;
    /* Adjust as necessary */
    margin-right: 75%;
    /* Adjust as necessary */
    margin-top: 10px;
    /* Adjust as necessary */

    justify-content: center;
}

.btn-secondary {
    background-color: #CFA37A;
    font-family: 'Open Sans Bold';
    color: rgb(0, 0, 0);
    width: calc(50% - 5px);
    display: flex;
    justify-content: center;
}

.details-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    align-items: center;
}

.center-text {
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Open Sans Bold';
    font-weight: bold;
    padding: 10px 20px;
    margin-top: 10px;
    /* Space between text and the next element */
    margin-bottom: 10px;
    /* Space between text and the next element */
}

.details-container div {
    background-color: #ffffff;
    border-radius: 5px;
    text-align: right;
    font-family: 'Open Sans Bold';
    padding: 5px;
}

.details-title {
    font-size: 20px;
    font-family: 'Open Sans Bold';
    font-weight: bold;
}

.details-subtitle {
    color: #6c757d;
    font-family: 'Open Sans Bold';
    margin-bottom: 20px;
}

.details {
    background-color: #CFA37A;
    border-radius: 5px;
    font-family: 'Open Sans Bold';
    font-weight: bold;
    text-align: center;
    padding: 5px;
    margin-top: 5px;
}

#message {
    text-align: center;
    font-family: 'Open Sans Bold';
    font-size: 18px;
    margin-top: 50px;
}

#contact-box {
    background-color: #198754;
    border-color: transparent;
    padding: 10px 20px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Bold';
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

#contact-box img {
    margin-left: 10px;
}

#contact-box a {
    text-decoration: none;
    color: #198754;
    font-size: 14px;
}

#project-dropdown {
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.688);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 55px;
    display: none;
    margin-bottom: 5px;
}

#logo {
    position: absolute;
    top: 20px;
    left: 20px;
    border-radius: 5px;
    z-index: 3;
    background-color: rgb(255, 255, 255);
    width: 60px;
    height: auto;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.877);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loading-logo {
    width: 150px;
    height: auto;
}

@media(max-width: 768px) {
    #sidebar {
        width: auto;
        max-height: 60%;
        position: absolute;
        bottom: 0;
        top: auto;
        left: 0;
        right: 0;
        transform: translateY(calc(100% - 40px));
    }
}

@media (max-width: 767px) {
input[type="text"],
input[type="email"],
textarea {
touch-action: manipulation;
user-select: none;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-scalable: no;
}
}


/* Full screen control button */
#fullscreen-btn {
    position: absolute;
    top: 100px;
    right: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

#fullscreen-btn img {
    width: 9px;
    height: 10px;
}

#legend {
    z-index: 3;
    background-color: rgba(255, 255, 255, 0.507);
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    text-align: right;
    font-size: 9px;
    font-family: 'Open Sans Bold';
    width: fit-content;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100px;
    display: flex;
    gap: 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 5px;
}

.legend-color {
    width: 20px;
    height: 20px;
    border-radius: 10%;
    display: inline-block;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

#search-container {
    position: absolute;
    top: 150px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.67);
    padding: 5px;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 5px;
}

#search-input {
    height: 20px;
    background-color: rgba(255, 255, 255, 0.81);
    padding: 0px;
    border: none;
    /* Remove the border */
    border-radius: 5px;
    width: 0;
    transition: width 0.3s ease;
    outline: none;
    /* Remove the focus outline */

}

#search-container:hover #search-input {
    width: 150px;
}

#search-popup-button {
    position: absolute;
    top: 140px;
    /* Adjust depending on desired spacing from the fullscreen button */
    right: 10px;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
}

#search-popup-button img {
    width: 10px;
    height: 10px;
}

#popup-search-notification {
    margin-top: 10px;
    color: red;
    font-size: 14px;
}
